#balance {
    font-size: 50px;
    text-align: center;
}

#accountContainer {
    width: 60%;
    margin: auto;
}

#transactionHistory {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.transactionItem {
    display: grid;
    margin: auto;
    gap: 100px;
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 0, 0, 0.171);
    margin-top: 30px;
    padding: 30px;
}

#logOut {
    position: relative;
    padding: 10px;
    border: none;
    font-family: "Quicksand", sans-serif;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: .1s linear;
    bottom: 0px;
    font-size: 20px;
}

#logOut:hover {
    background-color: #9b1200;
    transition: .1s linear;
    bottom: 2px;
}