#homeContainer {
    font-weight: normal;
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}


#homeImgContainer {
    position: relative;
    border-bottom: 4px solid black;
}

#homeImg {
    width: 100%;
    height: 400px;
    position: relative;
    left: 0;
    top: 0;
    filter: blur(5px);
    object-fit: cover;
}

#homeImgTxt {
    z-index: 100;
    position: absolute;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    top: 100px;
    background-color: #50d95c;
    font-weight: normal;
    color: black;
    font-style: italic;
}

.homeContentContainer {
    background-color: white;
    color: black;
    margin: auto;
    padding: 20px;
    min-height: 350px;
}

#homeIntro {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.homeParagraph {
    font-size: 20px;
}

#homeFeaturesContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#homeFeaturesContainer>* {
    flex: 1;
}

.homeContentContainer {
    padding: 20px;
    background-color: white;
    transition: all 0.2s ease;
}

.homeContentContainer:hover {
    transform: translateY(-10px);
}


#councelingContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.councelingTitle {
    font-weight: bold;
}

.councelingItem {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: 24px;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 20px;
}

.councelingTxt {
    width: 100%;
}

.councelingImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#hirePro {
    position: static;
    margin-top: 12px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    border: none;
    color: black;
    background-color: #50d95c;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s linear, box-shadow 0.1s linear;
}

#hirePro:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    #homeContainer {
        width: 100%;
        padding: 0 12px 30px;
        box-sizing: border-box;
    }

    #homeImg {
        height: 260px;
    }

    #homeImgContainer {
        width: 100%;
    }

    #homeImgTxt {
        top: 58px;
        font-size: 1.2rem;
        padding: 20px 0px 20px 0px;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    #homeFeaturesContainer,
    .councelingItem {
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .homeParagraph {
        font-size: 1.3rem;
    }

    .councelingItem {
        gap: 14px;
    }

    #hirePro {
        width: 100%;
    }
}