#messageList {
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

.messageContainer {
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 0, 0, 0.301);
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.messageContainer div {
    font-size: 25px;
}

.messageContainer:hover {
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.37);
}

.messageButtonsContainer {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: right;
    margin: auto;
    margin-right: 0;
}

.acceptMessage {
    background-color: #50d95c;
}

.acceptMessage:hover {
    background-color: #50d95bbe;
}

.declineMessage {
    background-color: #9b1200;
    color: white;
}

.declineMessage:hover {
    background-color: #9b1200b7;
}

.messageButton {
    position: relative;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    border-radius: 20px;
    font-weight: 1000;
    font-size: 20px;
    cursor: pointer;
    bottom: 0px;
    transition: .1s linear;
}

.messageContentContainer {
    grid-column: 1
}

.messageButton:hover {
    transition: .1s linear;
    bottom: 2px;
}

#noUsersMsg {
    text-align: center;
}